In [73]:
print("hello world")

hello world

In [74]:
my_var = 10+12j;
#defining a complex number;
print(type(my_var));

<class 'complex'>

In [75]:
#scientific notation

my_var = 4.85e5;
print(type(my_var));
print(my_var);

<class 'float'>
485000.0

In [76]:
my_var = 10;
my_var2 = float(my_var);
print(my_var,my_var2);

10 10.0

In [77]:
my_var = 7.3;
my_var2 = int(my_var);
print(my_var2);

7

In [78]:
my_list = [5,3,2,1];
print(my_list);
print(type(my_list));
print(my_list[2]);
my_list.append(5);
print(my_list[4]);

[5, 3, 2, 1]
<class 'list'>
2
5

In [79]:
number_variable = 5;
print(id(number_variable));
number_variable = 10;
print(id(number_variable));

140060396618096
140060396618256

In [80]:
my_list.append(6);
print(id(my_list[2]));
my_list[2]=10;
print(id(my_list[2]));

140060396618000
140060396618256

In [81]:
my_list.append("hello");
print(my_list);

[5, 3, 10, 1, 5, 6, 'hello']

In [82]:
len_mylist = len(my_list);
print(len_mylist);

7

In [83]:
print(my_list[2:4]);

[10, 1]

In [84]:
print(my_list[2:5]);

[10, 1, 5]

In [85]:
print(my_list[2:]);

[10, 1, 5, 6, 'hello']

In [86]:
print(my_list[:3]);

[5, 3, 10]

In [87]:
print(my_list[-4]);

1

In [88]:
my_list2 = [1,2,3,4,5];
print(my_list2);
print(my_list2[1:4]);
my_list3 = [60,80,90];
my_list2[1:4] = my_list3;
print(my_list2);

[1, 2, 3, 4, 5]
[2, 3, 4]
[1, 60, 80, 90, 5]

In [89]:
my_list2.insert(1,30);
print(my_list2);

[1, 30, 60, 80, 90, 5]

In [90]:
print(my_list);
my_list.remove(6);
print(my_list);

[5, 3, 10, 1, 5, 6, 'hello']
[5, 3, 10, 1, 5, 'hello']

In [91]:
my_list.pop(0);
print(my_list);

[3, 10, 1, 5, 'hello']

In [92]:
animal_list = ["dog","cat","bull"];
# animal = animal_list.pop(0);
print(animal_list);
animal_list.append(animal_list.pop(0));
# animal_list.append(animal);
print(animal_list);

['dog', 'cat', 'bull']
['cat', 'bull', 'dog']

In [93]:
del animal_list[1];
print(animal_list);

['cat', 'dog']

In [94]:
# del animal_list;
# print(animal_list);

# ---------------------------------------------------------------------------
# NameError                                 Traceback (most recent call last)
# Cell In[39], line 2
#       1 del animal_list;
# ----> 2 print(animal_list);

# NameError: name 'animal_list' is not defined

In [95]:
animal_list.clear();
print(animal_list,len(animal_list));

[] 0

In [96]:
print(my_list2);
my_list2.sort();#assending by default;
print(my_list2);

[1, 30, 60, 80, 90, 5]
[1, 5, 30, 60, 80, 90]

In [97]:
print(animal_list);
animal_list.append("dog");
animal_list.append("Cat");
animal_list.append("ant");
animal_list.append("32");
animal_list.sort();
print(animal_list);

[]
['32', 'Cat', 'ant', 'dog']

In [100]:
animal_list.sort(reverse=True);
print(animal_list);

['dog', 'ant', 'Cat', '32']

In [101]:
animal_list.reverse();
print(animal_list);

['32', 'Cat', 'ant', 'dog']

In [108]:
print(my_list2);
my_list4 = my_list2[0:len(my_list2)];
print(my_list4);
my_list4[0] = 5;
print(my_list4);
print(my_list2);

[1, 5, 30, 60, 80, 90]
[1, 5, 30, 60, 80, 90]
[5, 5, 30, 60, 80, 90]
[1, 5, 30, 60, 80, 90]

In [ ]:
my_list_5 = my_list2.copy();
print(my_list_5);